<h4>Formularios <small> Template </small></h4>
<hr />
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
            <input class="form-control" type="text" name="nombre" placeholder="Nombre" formControlName="nombre"
                [class.is-invalid]="nombreNoValido">
            <small *ngIf="nombreNoValido" class="text-danger">
                Ingrese un minimo de 4 letras
            </small>
        </div>
    </div>
    <br />


    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
            <input class="form-control" type="text" name="apellido" placeholder="Apellido" formControlName="apellido"
                [class.is-invalid]="apellidoNoValido" />
            <small *ngIf="apellidoNoValido" class="text-danger">
                Ingrese un minimo de 4 letras
            </small>
        </div>
    </div>
    <br />

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" name="correo" placeholder="Correo electrónico"
                formControlName="correo" [class.is-invalid]="correoNoValido" />
            <small *ngIf="correoNoValido" class="text-danger">
                Ingrese un correo
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>
</form>

<hr>

<pre>
    Estado de formulario:{{forma.valid}}
    <br>
    Status:{{forma.status}}
</pre>
<pre>
    {{forma.value | json}}
</pre>